*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.about-hero .about-hero-img{
    min-height:400px;
    width: 100%;
    background-image:linear-gradient(to bottom right, rgba(255, 204, 0, 0.392),rgba(255, 204, 0, 0.392)), url(../assets/About/hero3.webp);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    filter:brightness(70%);
    padding: 40px;
}

.approach{
    min-height: 50vh;
    width: 100%;
    margin: auto;
}

.approach .approach-img{
    height: 90vh;
    width: 95%;
    position: relative;
    margin: auto;
}

.approach .approach-img img{
    width: 100%;
    height: 90vh;
    border-radius: 20px;
}

.approach-info{
    width: 80%;
    border-radius: 20px;
    position: absolute;
    top: 60%;
    left:10%;
    padding: 0 5px;
    /* opacity: 0.5; */
}

.approach .approach-info img{
    width: 15%;
    height: 30px;
    border-radius: none;
}

.team .card-1{
    background-color: #3a1916b6;
    border-radius: 20px;
}
.team-members img{
    width: 100%;
    height: 50vh;
}