* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* navbar css starts here */
navi {
  position: sticky;
  width: 100%;
  top: 0;
  z-index: 9999;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.4);
}

.navbar {
  min-height: 70px;
  width: 100%;
  background-color: black;
}

.navbar .logo {
  height: 50px;
  width: 250px;
}

.nav-item {
  font-weight: 500;
}

.navbar-nav .nav-link {
  color: #ffb300;
  position: relative;
  text-decoration: none;
}

.navbar-nav .nav-link:hover {
  color: white;
}

.navbar-nav .nav-link::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 6px;
  width: 0;
  height: 2px;
  background-color: #ffb300;
  transition: width 0.4s ease-in-out;
}

.navbar-nav .nav-link:hover::after {
  width: 100%;
}

.navbar-nav .nav-link {
  color: #ffb300;
}

.navbar-nav .nav-link:focus,
.navbar-nav .nav-link:active,
.navbar-nav .nav-link.active {
  color: white;
}
/* navbar css ends here */

.contact-bg
{
  min-height: 60vh;
  width: 100%;
  
     background:
        linear-gradient(
            to right,
            rgba(226, 94, 82, 0.26) 0%,
            rgba(226, 94, 82, 0.32) 30%,
            rgba(226, 94, 82, 0.38) 60%,
            rgba(226, 94, 82, 0.44) 100%
        ),
        url('../assets/Contact/contact-background.webp');
  background-repeat: no-repeat;
  background-position: center top;
  background-size: cover;

  
}
@media (max-width: 768px) {
    .contact-bg {
        min-height: 40vh;
    }
}



/* ========= */
.icons
{
  background-color:#E25E52;
  /* color: yellow; */
}
