* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.custom-footer {
  background-color: #3A1916;
}
.footer-nav-list li {
  list-style-type: none;
}
.footer-nav-list li a {
  text-decoration: none;
  color: #ffb300;
  position: relative;
  padding-bottom: 4px;
}
.footer-nav-list li a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0;
  height: 2px;
  transition: width 0.3s;
  background-color: white;
}
.footer-nav-list li a:hover {
  color: white;
}
.footer-nav-list li a:hover::after {
  width: 100%;
}

/* icons */
.social-icon {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: #ffb300;
  color: #b14b41;

  display: flex;
  justify-content: center;
  align-items: center;

  text-decoration: none;
  transition: all 0.3s ease;
}

.social-icon:hover {
  background-color: #f4a261;
  color: #000;
}
