*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.navi {
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 9999;
    box-shadow: 0 2px 10px rgba(0,0,0,0.4);
}


.navbar{
    min-height: 70px;
    width: 100%;
    background-color: black;

}

.navbar .logo{
    height: 50px;
    width: 250px;
}

.nav-item{
    font-weight: 500;
}

.navbar-nav .nav-link {
    color: #ffb300;
    position: relative;
    text-decoration: none;
}

.navbar-nav .nav-link:hover {
    color: white;
}

.navbar-nav .nav-link::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 6px;
    width: 0;
    height: 2px;
    background-color: #ffb300;
    transition: width 0.4s ease-in-out;
}

.navbar-nav .nav-link:hover::after {
    width: 100%;
}

.carousel-item img{
    height: 700px;
}

.navbar-nav .nav-link {
    color: #ffb300;
}

.navbar-nav .nav-link:hover {
    color: white;
}

.navbar-nav .nav-link {
    color: #ffb300;               /* default golden */
    position: relative;
}

/* hover */
.navbar-nav .nav-link:hover {
    color: white;
}

/* clicked / focused / active */
.navbar-nav .nav-link:focus,
.navbar-nav .nav-link:active,
.navbar-nav .nav-link.active {
    color: white;
}
