*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color:  #FDFAF5;;
}

.navi {
    position: sticky;
    width: 100%;
    top: 0;
    z-index: 9999;
    box-shadow: 0 2px 10px rgba(0,0,0,0.4);
}


.navbar{
    min-height: 70px;
    width: 100%;
    background-color: #3A1916;

}

.navbar .logo{
    height: 50px;
    width: 250px;
}

.nav-item{
    font-weight: 500;
}

.navbar-nav .nav-link {
    color: #ffb300;
    position: relative;
    text-decoration: none;
}

.navbar-nav .nav-link:hover {
    color: white;
}

.navbar-nav .nav-link::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 6px;
    width: 0;
    height: 2px;
    background-color: #ffb300;
    transition: width 0.4s ease-in-out;
}

.navbar-nav .nav-link:hover::after {
    width: 100%;
}


.service-hero .service-hero-img{
    min-height:400px;
    width: 100%;
    background-image:linear-gradient(to bottom right, rgba(255, 204, 0, 0.392),rgba(255, 204, 0, 0.392)), url(../assets/About/hero3.webp);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    filter:brightness(70%);
    padding: 40px;
    padding-left: 30%;
}

.service-hero-img p{
    margin-left: 10px;
}

.card-img-top{
    height: 120px;
    width: 100%;
    border-bottom: 2px solid #3a1916;
    border-radius: 50%;
}

.card img{
    width: 50%;
    height:80px;
}

.card h5{
    color: #3a1916;
    font-weight: 600;
}

.card p{
    text-align: justify;
}

.service-card .card:hover{
    transform: translateY(-10px);
    box-shadow: 0 2px 20px #3a1916b2;
    transition: transform 0.8s ease, box-shadow 0.6s ease;
}

.contact .row{
        padding: 0;
    /* margin-top: 100px; */
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.537), rgba(0, 0, 0, 0.55)), url(../assets/Home/contact-bg.webp);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: center;
    background-attachment: fixed;
    border-radius: 20px;
}

.contact p{
    color: #ffb300
}
.contact h1{
    color: #ffb300
}
.contact .ctn-top{
    margin-top: 50px;
}

.contact .contact-btn{
    background-color: #E25E52;
    border: none;
    border-radius: 10px;
    padding: 10px 10px;
    /* margin-left: 20px; */
    transition: background-color 0.5s ease;
}

.contact-btn a{
    /* padding: 10px; */
    text-decoration: none;
    color: black;
}

.contact-btn:hover{
    background-color: #ffb300;
    transition: background-color 0.5s ease-in-out;
}

.contact-btn:hover i{
    transition:  0.5s ease-in-out;
    transform: translateX(10px);
}
