*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.navi {
    position: sticky;
    width: 100%;
    top: 0;
    z-index: 9999;
    box-shadow: 0 2px 10px rgba(0,0,0,0.4);
}


.navbar{
    min-height: 70px;
    width: 100%;
    background-color: black;

}

.navbar .logo{
    height: 50px;
    width: 250px;
}

.nav-item{
    font-weight: 500;
}

.navbar-nav .nav-link {
    color: #ffb300;
    position: relative;
    text-decoration: none;
}

.navbar-nav .nav-link:hover {
    color: white;
}

.navbar-nav .nav-link::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 6px;
    width: 0;
    height: 2px;
    background-color: #ffb300;
    transition: width 0.4s ease-in-out;
}

.navbar-nav .nav-link:hover::after {
    width: 100%;
}

.service-hero .service-hero-img{
    min-height:400px;
    width: 100%;
    background-image:linear-gradient(to bottom right, rgba(255, 204, 0, 0.392),rgba(255, 204, 0, 0.392)), url(../assets/About/hero3.webp);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    filter:brightness(70%);
    padding: 40px;
}


.service .row{
    padding: 0;
    /* margin-top: 0px; */
    background-image: linear-gradient(to right, rgba(232, 96, 55, 0.856), rgba(248, 248, 248, 0.4), rgba(248, 248, 248, 0.4)), url(../assets/);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: center;
    background-attachment: fixed;
}
