*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.navi {
    position: sticky;
    width: 100%;
    top: 0;
    z-index: 9999;
    box-shadow: 0 2px 10px rgba(0,0,0,0.4);
}


.navbar{
    min-height: 70px;
    width: 100%;
    background-color: black;

}

.navbar .logo{
    height: 50px;
    width: 250px;
}

.nav-item{
    font-weight: 500;
}

.navbar-nav .nav-link {
    color: #ffb300;
    position: relative;
    text-decoration: none;
}

.navbar-nav .nav-link:hover {
    color: white;
}

.navbar-nav .nav-link::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 6px;
    width: 0;
    height: 2px;
    background-color: #ffb300;
    transition: width 0.4s ease-in-out;
}

.navbar-nav .nav-link:hover::after {
    width: 100%;
}

.carousel-item img{
    height: 700px;
}

.navbar-nav .nav-link {
    color: #ffb300;
}

.navbar-nav .nav-link:focus,
.navbar-nav .nav-link:active,
.navbar-nav .nav-link.active {
    color: white;
}

/* .slide{
    background-image: linear-gradient(to bottom right, #3a1916ab, #fff);
} */


.carousel-item img{
    /* height: 550px; */
    background-color: #ffd572;
    filter: brightness(50%);
    border-radius: 50%;
    border: 2px solid black;
    height: 100vh;
    object-fit: cover;  
}

.carousel-item .slider-img{
    /* height: 550px; */
    background-color: #ffd572;
    filter: brightness(150%);
    border-radius: 50%;
    border: 2px dotted black;
}

.carousel-caption{
    top: 12%;
    width: 50%;
    /* margin: auto; */
}

.carousel-caption h1{
    font-size: 70px;
    font-weight: 600;
    color: white;
}

.carousel-caption p{
    color:#ffb300;
    font-size: 20px;
    font-weight: 700;
    text-align: justify;
}

.carousel-caption a{
    font-size: 20px;
    font-weight: 600;
}

.carousel-item .slider-btn{
    background-color: #E25E52;
    border: none;
    border-radius: 10px;
    padding: 0 15px;
    margin-left: 20px;
}

.slider-btn a{
    padding: 5px 10px;
    text-decoration: none;
    color: black;
}

.slider-btn i{
    margin-top: 12px; 
    /* margin-left: 5px; */
}

.slider-btn:hover{
    background-color: #ffb300;
    transition: background-color 0.5s ease-in-out;
}
.slider-btn:hover i{
    transition:  0.5s ease-in-out;
    transform: translateX(10px);
}

.about{
    margin-top: 100px;
}

.about .about-btn{
    background-color: #E25E52;
    border: none;
    border-radius: 10px;
    padding: 0 15px;
    /* margin-left: 20px; */
}

.about-btn a{
    padding: 7px 10px;
    text-decoration: none;
    color: black;
}

.about-btn i{
    margin-top: 12px; 
    /* margin-left: 5px; */
}

.about-btn:hover{
    background-color: #ffb300;
    transition: background-color 0.5s ease-in-out;
}
.about-btn:hover i{
    transition:  0.5s ease-in-out;
    transform: translateX(10px);
}

.about h1, h4, p{
    text-align: justify;
}

.service-head p{
    margin-top: 100px;
}

.p-img img{
    width: 30px;
    height: 30px;
}

.services .card {
    border-radius: 20px;
    overflow: hidden;
}

.services .card-img-top {
    height: 250px;
    object-fit: cover;
}

.service-info{
    min-height:350px;
    background-image:linear-gradient(to bottom right, rgba(255, 204, 0, 0.856), rgba(248, 248, 248, 0.024),  rgba(248, 248, 248, 0.024), rgba(248, 248, 248, 0.024)),linear-gradient(to top left , rgba(255, 200, 0, 0.774), rgba(248, 248, 248, 0.024),  rgba(248, 248, 248, 0.024), rgba(248, 248, 248, 0.024)), url(../assets/Home/info-img.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    filter:brightness(70%);
    padding: 40px;
    border-radius: 20px;
}


.service-info h3 {
    color: #3a1916;
    margin-bottom: 15px;
}

.service-info p {
    color: white;
    font-size: 1rem;
}

.carousel-item .service-info{
    background-color: #E25E52;
    border: none;
    border-radius: 10px;
    padding: 0 15px;
    margin-left: 20px;
}

.service-info a{
    padding: 5px 10px;
    text-decoration: none;
    color: black;
}

.service-info i{
    margin-top: 11px; 
    /* margin-left: 5px; */
}

.service-btn{
    background-color: #fd6b5d;
    border: none;
    border-radius: 10px;
    padding: 10px 30px;
}

.service-btn a{
    color:#3a1916;
    font-weight: 500;
}

.service-btn:hover i{
    transition:  0.5s ease-in-out;
    transform: translateX(10px);
}

.service-btn:hover {
    background-color: #ffb300;
}

.card:hover{
    box-shadow: 1px 1px 20px #3a1916;
    transition: box-shadow 0.5s ease-in-out;
}
.service-info:hover{
    box-shadow: 1px 1px 20px #3a1916;
    transition: box-shadow 0.5s ease-in-out;
}