/* code for navbar starts here */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: #b7822d;
}
.navi {
  position: sticky;
  width: 100%;
  top: 0;
  z-index: 9999;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.4);
}
.navbar {
  min-height: 70px;
  width: 100%;
  background-color: #3a1916;
}
.navbar .logo {
  height: 50px;
  width: 250px;
}
.nav-item {
  font-weight: 500;
}
.navbar-nav .nav-link {
  color: #ffb300;
  position: relative;
  text-decoration: none;
}
.navbar-nav .nav-link:hover {
  color: white;
}
.navbar-nav .nav-link::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 6px;
  width: 0;
  height: 2px;
  background-color: #ffb300;
  transition: width 0.4s ease-in-out;
}
.navbar-nav .nav-link:hover::after {
  width: 100%;
}

/* .navbar-nav .nav-link:focus,
.navbar-nav .nav-link:active {
    color: white;
} */
/* code for navbar ends here */

/* hero section */
.about-hero .about-hero-img {
  min-height: 400px;
  width: 100%;
  background-image:
    linear-gradient(
      to bottom right,
      rgba(255, 204, 0, 0.392),
      rgba(255, 204, 0, 0.392)
    ),
    url(../assets/About/hero3.webp);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  filter: brightness(70%);
  padding: 40px;
  padding-left: 30%;
  background-attachment: fixed;
}

.about-hero-img p {
  margin-left: 20px;
}
/*  */
/* foote css */
.custom-footer {
  background-color: #b14b41;
}
.footer-nav-list li {
  list-style-type: none;
}
.footer-nav-list li a {
  text-decoration: none;
  color: #ffb300;
  position: relative;
  padding-bottom: 4px;
}
.footer-nav-list li a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0;
  height: 2px;
  transition: width 0.3s;
  background-color: white;
}
.footer-nav-list li a:hover {
  color: white;
}
.footer-nav-list li a:hover::after {
  width: 100%;
}

/* icons */
.social-icon {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: #ffb300;
  color: #b14b41;

  display: flex;
  justify-content: center;
  align-items: center;

  text-decoration: none;
  transition: all 0.3s ease;
}

.social-icon:hover {
  background-color: #f4a261;
  color: #000;
}

/*  */
.doctor-image {
  width: 100%;
  height: auto;
  max-width: 500px;
}

.share-btn .exp-button {
    background-color: #E25E52;
    border: none;
    border-radius: 10px;
    transition: background-color 0.5s ease-in-out;
}

.share-btn .exp-button:hover {
    background-color: #ffb300;
}
.exp-button:hover i{
    transition:  0.5s ease-in-out;
    transform: translateX(10px);
}

.custom-footer
{
  background-color: #3A1916;
}